<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Assignment 3 - Grappe</title>
<link type="text/css" href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
<link type="text/css" href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>

<div th:replace="header :: header"></div>

<div class="page-container" id="pageContainer">

	<div class="container-fluid content-center mt-30">
		<h1 id="welcomeDiv" class="ml-25 mt-30 hidden"></h1>
	</div>

	<h2 class="text-center mt-30">Lista delle grappe</h2>
	
	<div class="text-center">
		<!-- button triggering modal -->
		<button type="button" onclick="addModal()" class="btn btn-success" data-toggle="modal" data-target="#aggiungiGrappa" formnovalidate>
			<font color="white">AGGIUNGI UNA GRAPPA ALLA LISTA</font>
		</button>
	</div>
	<div class="text-center red" th:if="${error}" th:text="${message}"></div>
	
	<div class="container-fluid content-center mt-30" id="dataTableContainer">
	<table id="datatablegrappe" class="table table-striped table-hover table-bordered text-center">
		
		<thead class="thead-dark">
		<tr>
	        <th>NOME</th>
	        <th>DENOMINAZIONE</th>
        	<th>NAZIONALITA'</th>
        	<th>REGIONE</th>
        	<th>CANTINA PRODUTTRICE</th>
        	<th>TIPOLOGIA</th>
        	<th class="action">AZIONI</th>
		</tr>
		</thead>
    	<tbody>
      		<tr th:each="grappa : ${grappe}">
	        	<td th:text="${grappa.nome}"><a href="/grappa/${grappa.id}">&nbsp;</a></td>
        		<td th:text="${grappa.denominazione}"></td>
        		<td th:text="${grappa.nazionalita}"></td>
        		<td th:text="${grappa.idRegione?.nome}"></td>
        		<td th:text="${grappa.idCantina?.nome}"></td>
        		<td th:text="${grappa.tipologiaGrappa}"></td>
        		<td class="action" align="center">
        			<button th:id="${grappa.id}" type="button" onclick="updateEditModal(this.id)" class="btn btn-warning grappa" data-toggle="modal" data-target="#grappaedit" title="Modifica questa grappa">Edit</button>
        			<a th:href="@{/grappa/delete/{id}(id=${grappa.id})}" class="btn btn-danger" method="post" title="Rimuovi grappa">Delete</a>
        			<button th:id="|${grappa.nome}-${grappa.idCantina?.nome}|" onclick="updatePlusModalGrappa(this.id)" data-toggle="modal" data-target="#addToGrappacellar"  type="button" class="btn btn-success" title="Aggiungi grappa alla tua cantina" >+</button>
        		</td>
        	</tr>
        </tbody>
	</table>
	</div>
</div>

<!-- Aggiungi -->
<div class="modal fade" id="aggiungiGrappa" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <form name="addgrappa" id="addgrappaForm" th:action="@{/grappa/add}" method="post"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Aggiungi Grappa al catalogo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
		    <label for="lblNome">Nome</label>
		    <input type="text" class="form-control" id="inputNomeGrappa" placeholder="Enter nome" th:name="nome" required>
	  	</div>
	  	<div class="form-group">
		    <label for="lblDenominazione">Denominazione</label>
		    <input type="text" class="form-control" id="inputDenominazioneGrappa" placeholder="Enter denominazione" th:name="denominazione">
	  	</div>
	  	
	  	<div class="form-group">
	    <label for="selectNazionalita">Nazionalita'</label>
	    	<select id="addSelectNazionalita" th:name="selectNazionalita" class="form-control" onChange="selectAddHandle()" placeholder="Select nazionalità" required>
	    		<option th:value="it" th:text="Italiana">
	    		<option th:value="st" th:text="Straniera">
	    	</select>
  		</div>
  		<div id="addPaeseDiv" class="form-group hidden">
  			<label for="addNazionalita">Stato/Paese</label>
  			<input type="text" class="form-control"  id="addNazionalita" placeholder="Enter nazionalita" th:name="nazionalita">
  		</div>  		
	  	<div id="addRegioneDiv" class="form-group hidden">
		    <label for="addRegione">Regione</label>
		    <select class="form-control" id="selectAddRegione" th:name="regione" placeholder="Enter regione">
        		<option th:each="regione: ${regioni}" th:text="${regione.nome}" th:value="${regione.nome}"></option>
        	</select>
		</div>
  		
  		<div class="form-group">
	    <label for="lblCantinaProduttrice">Cantina Produttrice</label>
	    	<input type="text" class="form-control"  id="inputCantinaProduttriceGrappa" placeholder="Enter cantina produttrice" th:name="cantinaproduttrice" required>
	    	
	    	
  		</div>
  		<div class="form-group">
	    <label for="lblTipologia">Tipologia</label>
	    	<select class="form-control" id="tipologia" name="tipologia" required>
	    		<option>BARRICATA</option>
       			<option>BIANCA</option>
       		</select>
  		</div>
  		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="saveAll">Save changes</button>
      </div>
    </div>
    </form>
  </div>
</div>

<!-- Modale di edit -->
<div class="modal fade" id="grappaedit" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <form name="editgrappa" id="editGrappaForm" th:action="@{/grappa/edit}" method="post"> 
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="modalLabel">Modifica grappa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
		    <label for="editNome">Nome</label>
		    <input type="text" class="form-control" id="editNomeGrappa" placeholder="Enter nome" th:name="editNome" required>
	  	</div>
	  	<div class="form-group hidden">
	  		<input type="text" class="form-control" id="oldName" th:name="oldName" required>
	  	</div>
	  	<div class="form-group">
		    <label for="editDenominazione">Denominazione</label>
		    <input type="text" class="form-control" id="editDenominazioneGrappa" placeholder="Enter denominazione" th:name="editDenominazione">
	  	</div>
	  	<div class="form-group">
	    <label for="selectNazionalita">Nazionalita'</label>
	    	
	    	<select id="editSelectNazionalita" th:name="selectNazionalita" class="form-control" onChange="selectHandle()" placeholder="Select nazionalità" required>
	    		<option th:value="it" th:text="Italiana">
	    		<option th:value="st" th:text="Straniera">
	    	</select>
  		</div>
  		<div id="editPaeseDiv" class="form-group hidden">
  			<label for="editNazionalita">Stato/Paese</label>
  			<input type="text" class="form-control"  id="editNazionalita" placeholder="Enter nazionalita" th:name="editNazionalita">
  		</div>  		
	  	<div id="editRegioneDiv" class="form-group hidden">
		    <label for="editRegione">Regione</label>
		    <select class="form-control" id="selectEditRegione" th:name="editRegione" placeholder="Enter regione">
        		<option th:each="regione: ${regioni}" th:text="${regione.nome}" th:value="${regione.nome}"></option>
        	</select>
		   	
		</div>
  		
  		<div class="form-group">
	    <label for="editCantinaProduttrice">Cantina Produttrice</label>
	    	<input type="text" class="form-control"  id="editCantinaProduttriceGrappa" placeholder="Enter cantina produttrice" th:name="editCantinaProduttrice" required>	    	
  		</div>
  		<div class="form-group hidden">
	  		<input type="text" class="form-control" id="oldCantina" th:name="oldCantina" required>
	  	</div>
  		<div class="form-group">
	    <label for="editTipologia">Tipologia</label>
	    
	    	<select class="form-control" id="editTipologiaGrappa" name="editTipologia" required>
	    		<option th:value="ba" th:text="BARRICATA"></option>
       			<option th:value="bi" th:text="BIANCA"></option>
       		</select>

  		</div>
  		
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
        <button type="submit" class="btn btn-primary" id="saveAll">Salva</button>
      </div>
    </div>
    </form>
  </div>
</div>

<!-- Modale aggiunta grappa alla tua cantina -->
<div class="modal fade text-center" id="addToGrappacellar" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <form name="addtograppacellar" id="addToCellar" th:action="@{/grappa/addToGrappacellar}" method="post"> 
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Aggiungi grappa alla tua cantina</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
        <div class="form-group">
		    <label for="nomegrappa">Nome</label>
		    <input type="text" class="form-control"  id="tipograppa" name="nomegrappa" value="" readonly>
	  	</div> 
	  	<div class="form-group">
		    <label for="anno">Anno</label>
		    <input type="number" class="form-control"  id="annograppa" name="anno" min="1900" required>
	  	</div>
	  	<div class="form-group">
	          <button type="button" class="btn btn-success" onclick="addCount()">+</button>
	          	<label for="nbottiglie"></label>
	          	<input type="number" id="labelBottiglie" value="1" name="nbottiglie" style="width:60px; -webkit-appearance: none; -moz-appearance: textfield;" min="1" required>
	          <button type="button" class="btn btn-danger" onclick="decreaseCount()">-</button>
	    </div>
	    <div class="form-group">
		   <input type="hidden" id="cantina" name="cantina" />
		    
	  	</div> 
	  			
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
        <button type="submit" class="btn btn-primary" id="addGrappaButton">Aggiungi</button>
      </div>
    </div>
    </form>
  </div>
</div>


<div th:replace="footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>-->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script src="/js/jsajax.js" th:href="@{/js/jsajax.js}"></script>



<script th:inline="javascript">
$(document).ready(function() {
	
	hideIfNotLogged();
	
    $('#datatablegrappe').DataTable({
    	"responsive": true,
    	"columns": [
    		{"searchable": true },
    		{"searchable": true },
    		{"searchable": true },
    		{"searchable": true },
    		{"searchable": true },
    		{"searchable": true },
    		{"searchable": false,
    		 "orderable": false }
    	]
    });
    
    
});
</script>

<script th:inline="javascript">

function updateEditModal(idGrappa){
	
	/*<![CDATA[*/
	  
	var grappeArray = [[${grappe}]];
	console.log(grappeArray);
	
	/*]]>*/
	
	console.log(idGrappa);
	for(i=0;i<grappeArray.length; i++){
		if(grappeArray[i].id == idGrappa) var grappa = grappeArray[i];
		console.log(grappa);
	}
	document.getElementById('editNomeGrappa').value = grappa.nome;
	document.getElementById('oldName').value = grappa.nome;
	document.getElementById('editDenominazioneGrappa').value = grappa.denominazione;
	var nazione = grappa.nazionalita;
	if(grappa.nazionalita == 'Italiana') {
		document.getElementById('editSelectNazionalita').value = 'it';
		document.getElementById('selectEditRegione').value = grappa.idRegione.nome;
	}
	else {
		document.getElementById('editSelectNazionalita').value = 'st';
		document.getElementById('editNazionalita').value = grappa.nazionalita;
	}
	selectHandle();
	document.getElementById('editCantinaProduttriceGrappa').value = grappa.idCantina.nome;
	document.getElementById('oldCantina').value = grappa.idCantina.nome;
	if(grappa.tipologiaGrappa == "BARRICATA") document.getElementById('editTipologiaGrappa').value = "ba";
	else document.getElementById('editTipologiaGrappa').value = "bi";
}

function addModal(){
	selectAddHandle();
}

</script>

</body>
</html>