<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Assignment 3 - Cantine Produttrici</title>
<link type="text/css" href="/css/style.css" rel="stylesheet" th:href="@{/css/style.css}">
<link type="text/css" href="/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
</head>
<body>

<div th:replace="header :: header"></div>

<div class="page-container" id="pageContainer">

    <div class="container-fluid content-center mt-30">
		<h1 id="welcomeDiv" class="ml-25 mt-30 hidden"></h1>
	</div>

	<h2 class="text-center mt-30">Lista delle cantine</h2>

	<div class="text-center">
		<!-- button triggering modal -->
		<button type="button" class="btn btn-success" data-toggle="modal" data-target="#aggiungiCantina" formnovalidate>
			<font color="white">AGGIUNGI CANTINA ALLA LISTA</font>
		</button>
	</div>
	<div class="text-center red" th:if="${error}" th:text="${message}"></div>
	
	<div class="hidden" id="divErrore">
		<span class="ml-10 p-2 mb-2 bg-danger text-white" id="lblErrore"></span>
	</div>
	<div class="container-fluid content-center mt-30" id="dataTableContainer">
	<table id="datatablevini" class="table table-striped table-hover table-bordered text-center">
		
		<thead class="thead-dark">
		<tr>
			<th>NOME</th>
        	<th class="action">AZIONI</th>
      	</tr>
      	</thead>
      	<tbody>
      		<tr th:each="cantina : ${cantine}">
        		<td th:text="${cantina.nome}"></td>
        		<td class="action" align="center">
        			<button th:id="${cantina.idc}" type="button" onclick="updateEditModal(this.id)" class="btn btn-warning" data-toggle="modal" data-target="#editCantina" title="Modifica questo vino">Edit</button>
        			<button th:id="|${cantina.idc}-delete|" type="button" onclick="deleteCantina(this.id)" class="btn btn-danger" title="Cancella cantina">Delete</button>
        		</td>        		
        	</tr>
        </tbody>
	</table>
    </div>
</div>

<div class="modal fade" id="editCantina" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
  <form name="editcantina" id="editCantinaForm" th:action="@{/cantina-produttrice/edit}" method="POST"> 
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="modalLabel">Modifica cantina</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
		    <label for="editNome">Nome</label>
		    <input type="text" class="form-control" id="editNomeCantina" placeholder="Enter nome" th:name="editNome" required>
	  	</div>
	  	<div class="form-group hidden">
	  		<input type="text" class="form-control" id="oldName" th:name="oldName" required>
	  	</div>
	  	<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
        <button type="submit" class="btn btn-primary"  id="saveAll">Salva</button>
      </div>
    </div>
    </div>
    </form>
  </div>
</div>

<div class="modal fade" id="aggiungiCantina" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="modalLabel">Aggiungi cantina</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
		    <label for="addNome">Nome</label>
		    <input type="text" class="form-control" id="addNomeCantina" placeholder="Enter nome" required>
	  	</div>
	  	<div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulla</button>
        <button type="submit" class="btn btn-primary" onClick="addCantina()"  id="saveAll">Salva</button>
      </div>
    </div>
    </div>
  </div>
</div>

<div th:replace="footer :: footer"></div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script> 
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>-->
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
<script src="/js/bootstrap.js" th:href="@{/js/bootstrap.js}"></script>
<script src="/js/jsajax.js" th:href="@{/js/jsajax.js}"></script>

<script th:inline="javascript">
$(document).ready(function() {
		
	// funzione che controlla se l'utente sia loggato
	// e mostra/nasconde di conseguenza
	hideIfNotLogged();
	
    $('#datatablevini').DataTable({
    	"responsive": true,
    	"columns": [
    		{"searchable": true },
    		{"searchable": false,
    		 "orderable": false }
    	]
    });
    
});
</script>
<script th:inline="javascript">

function updateEditModal(idCantina){
	
	/*<![CDATA[*/
	  
	var cantinaArray = [[${cantine}]];
	/*]]>*/
	for(i=0;i<cantinaArray.length; i++){
		if(cantinaArray[i].idc == idCantina){
			var cantina = cantinaArray[i];
		}
	}
	document.getElementById('editNomeCantina').value = cantina.nome;
	document.getElementById('oldName').value = cantina.nome;
}



function addCantina(){
	var str = document.getElementById("addNomeCantina").value;
	$.ajax({
	      type: "POST",
	      url: "/cantina-produttrice/add",
	      data: str,
	      contentType: "application/json",
	      success: function(response)
	      {
	    	  if(response){
	    		  location.reload();
	    	  }else{
	    		  document.getElementById("addNomeCantina").value="";
	    		  $("#aggiungiCantina").modal('hide');
	    		  document.getElementById("lblErrore").innerHTML = "Errore! Cantina già esistente.";
	    		  document.getElementById("divErrore").className = "visible";
	    	  }
	        
	      },
	      error: function(jqXHR, textStatus, errorThrown) 
	      {
 	    		alert("error:" + textStatus + " exception:" + errorThrown + jqXHR);
 	 	}
	    });
}

function deleteCantina(idCantina){
	var res = idCantina.split("-");
	$.ajax({
	      type: "POST",
	      url: "/cantina-produttrice/delete",
	      data: res[0],
	      contentType: "application/json",
	      success: function(response)
	      {
	    	console.log(response);
	        
	        if (response == "true"){
	        	location.reload();
	        }else
	        	if(response== "false"){
	        		document.getElementById("lblErrore").innerHTML = "Errore! Impossibile cancellare questa cantina.";
	        		document.getElementById("divErrore").className = "visible";
		        }else{
		        	document.getElementById("lblErrore").innerHTML = "Non puoi eliminare una cantina che è associata ad un prodotto";
		        	document.getElementById("divErrore").className = "visible";
		        }
	      },
	      error: function(jqXHR, textStatus, errorThrown) 
	      {
 	    	console.log(textStatus);
 	 		}
	    });
}
</script>
</body>
</html>